
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --lightPurple: #8900FF;
    --darkPurple: #5800A4;
    --Black: #010C12;
    --White: #f5f5f5;
}

body{
    margin: 0;
}

/* Landing page*/

.lP{
    background: rgb(1,12,18);
    background: linear-gradient(180deg, rgba(1,12,18,1) 0%, rgba(137,0,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lPText p{
font-size: 50px;
color: var(--White);
line-height: 1.5;
margin-left: 2rem;
margin-right: 2rem;
text-align: center;
font-family: "Kode Mono", monospace;
margin-top: -2rem;
}

.lPLogo img{
    width: 300px;
}

.lPButtons button{
    background-color:var(--Black);
    color:var(--White);
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-size: 28px;
    font-family: "Kode Mono", monospace;
    margin-bottom: 3rem;
    cursor: pointer;
}

.lPButtons button:hover{
background-color: var(--darkPurple);
}

/* landing page media query */

@media (min-width:1024px){
    .lPText p{
        font-size: 80px;
        margin-left: 6rem;
        margin-right: 6rem;
    }


    .lPButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

}